{% extends 'base.html' %} 

{% block content %}
<div class="container mt-5 pt-5">
    <div class="row justify-content-center">
      <div class="col-lg-8">
        <h1 class="text-center mb-4">About Me</h1>
        <p>
          I am a dedicated learner driven by an insatiable curiosity to uncover
          answers across diverse domains. With a versatile background in
          development, my expertise spans a wide spectrum of project topics and
          academic studies, consistently delivering superior user experiences. I
          thrive both in collaborative team settings and when working
          independently, leveraging my skills to excel in any environment.
        </p>
      </div>
    </div>

    <div class="row justify-content-center mt-5">
      <div class="col-lg-8">
        <h2 class="text-center mb-4">Tech Stacks:</h2>
        <div class="row justify-content-center">
          <div class="col-lg-1 col-md-2 col-3 text-center mb-3">
            <img
              src="../static/img/logo/html.png"
              alt="HTML Logo"
              width="80"
              height="80"
              class="logo"
            />
            <p style="margin-top: 10px">HTML</p>
          </div>
          <div class="col-lg-1 col-md-2 col-3 text-center mb-3">
            <img
              src="../static/img/logo/css.png"
              alt="CSS Logo"
              width="80"
              height="80"
              class="logo"
            />
            <p style="margin-top: 10px">CSS</p>
          </div>
          <div class="col-lg-1 col-md-2 col-3 text-center mb-3">
            <img
              src="../static/img/logo/python.png"
              alt="Python Logo"
              width="80"
              height="80"
              class="logo"
            />
            <p style="margin-top: 10px">Python</p>
          </div>
          <div class="col-lg-1 col-md-2 col-3 text-center mb-3">
            <img
              src="../static/img/logo/django.png"
              alt="Django Logo"
              width="80"
              height="80"
              class="logo"
            />
            <p style="margin-top: 10px">Django</p>
          </div>
          <div class="col-lg-1 col-md-2 col-3 text-center mb-3">
            <img
              src="../static/img/logo/jscript.png"
              alt="Javascript Logo"
              width="80"
              height="80"
              class="logo"
            />
            <p style="margin-top: 10px">JavaScript</p>
          </div>
          <div class="col-lg-1 col-md-2 col-3 text-center mb-3">
            <img
              src="../static/img/logo/flask.png"
              alt="Flask Logo"
              width="80"
              height="80"
              class="logo"
            />
            <p style="margin-top: 10px">Flask</p>
          </div>
          <div class="col-lg-1 col-md-2 col-3 text-center mb-3">
            <img
              src="../static/img/logo/arduino.png"
              alt="Arduino Logo"
              width="80"
              height="80"
              class="logo"
            />
            <p style="margin-top: 10px">Arduino</p>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock content %}
