{% extends 'base.html' %}

{% block content %}
<div class="container mt-5 pt-5">
    <div class="row justify-content-center">
      <div class="col-lg-8">
        <h1 class="text-center mb-4"> My Projects</h1>
        <p class="text-center">
          My projects mainly revolve around school assignments and experimentation with different hosting capabilities of GitHub. I also enjoy exploring various Python functions and incorporating them into my side projects.
        </p>
        <div class="text-center mt-4">
          <a href="https://github.com/TooIneptNeedToLearn?tab=repositories" class="btn btn-dark" target="_blank">View on GitHub</a>
        </div>
      </div>
    </div>
  </div>
  
{% endblock content %}
